<!doctype html>
<html>
<%- include('../partials/header', {title: 'Sign Up'}); %>
<body>
  <%- include('../partials/navbar'); %>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <h1><span class="fa fa-sign-in"></span> Create New User</h1>
          <!-- show any messages that come back with authentication -->
          <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
          <% } %>
          <form action="/account/createUser" method="post">
            <div class="form-group">
              <label>Email:</label>
              <input required type="email" class="form-control" name="email" placeholder="Enter E-mail Address" required maxLength="35">
            </div>
            <div class="form-group">
              <label>First Name:</label>
              <input required type="text" class="form-control" name="firstName" placeholder="Enter First Name" required maxLength="20">
            </div>
            <div class="form-group">
              <label>Last Name:</label>
              <input required type="text" class="form-control" name="lastName" placeholder="Enter Last Name" required maxLength="20">
            </div>
            <div class="form-group">
              <label>Password:</label>
              <input required type="password" class="form-control" name="password" placeholder="Enter Password" required>
            </div>
            <div class="form-group">
              <label>Role:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="role" value="Data Entry Specialist">
                            <label class="form-check-label" for="Data Entry Specialist">Data Entry Specialist</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="role" value="Quality Control">
                            <label class="form-check-label" for="Quality Control">Quality Control</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="role" value="Admin">
                            <label class="form-check-label" for="Admin">Admin</label>
                        </div>
            </div>
            <br></br>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <hr>
        </div>
      </div>
    </div>
</body>

</html>
